body{
    background: url("../../img/temp.jpg");
    backdrop-filter: blur(2px);

}



.reject {background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%)}
.reject {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    font-family: 'Quicksand', sans-serif;
}

.reject:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


.completed {background-image: linear-gradient(to right, #56ab2f 0%, #a8e063  51%, #56ab2f  100%)}
.completed {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.completed:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


.accept {background-image: linear-gradient(to right, #24C6DC 0%, #514A9D  51%, #24C6DC  100%)}
.accept {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    font-family: 'Quicksand', sans-serif;
}

.accept:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


.pending {background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%)}
.pending {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    font-family: 'Quicksand', sans-serif;
}

.pending:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}





img{
    position: absolute;
    right: 0;
    bottom: 0;
}
/*Create the card effect*/
.card{
    background: white;
    padding: 15px 30px;
    text-align: center;
    border-collapse: collapse;
    border-radius: 30px;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    left: 50%;
    bottom: 0;
    transform: translateX(50%);
    width: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

/*hover effect for the card */
.card:hover{
    box-shadow: 0 0 20px #0d3579;
}


/*Changed the font of the h2 style and sizing*/
h2{
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    position: relative;
    padding: 0 0 15px;
    margin-top: 0;
    margin-bottom: 30px;
}

h2:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2e48cc;
}

/*This is for the date and time */

p{
    left: 110%;
    color: #0d3579;
    font-weight: bolder;
    font-style: italic;
    font-size: 18px;
}


/*Edited the Table Layout Properties to better suit the card */

table{
    width: 100%;
    margin: 25px 0;
    font-size: 1.5em;
    font-family: sans-serif;
}


th{
    font-size: 18px;
    height: 70px;
    width: 50px;
    justify-content: left;
}
td{
    horiz-align: center;
    vert-align: bottom;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    padding: 15px 15px;
}