.centre{
    margin:0 auto;

}

.bottom_line{
    height: 15px;
    display: block;
    margin-left:25%;
    width: 50%;
    box-shadow: 0px 2px #2c2c2f;
}


#menu {
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0);
    color: #FFF;
    height: 47px;
    margin-left: 35%;
    padding-left: 18px;
    font-family: 'Quicksand', sans-serif;
}

#menu ul, #menu li {
    margin: 0 auto;
    padding: 0;
    list-style: none
}
#menu ul {
    list-style-type: none;
    width: 100%;
}
#menu li {
    background: lightblue;
    float: left;
    display: inline;
    position: relative;
}


#menu a {
    display: inline-block;
    line-height: 45px;
    padding: 0 16px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    transition: all .5s ease-in;
}

#menu ul li a .active{
    color: #1621B8;
}
#menu a.dropdown-arrow:after {
    content: "\25BE";
    margin-left: 5px;
}
#menu li a:hover {
    color: #FFFFFF;
    background: #1621B8;
}
#menu input {
    display: none;
    margin: 0;
    padding: 0;
    height: 47px;
    width: 100%;
    opacity: 0;
    cursor: pointer
}
#menu label {
    display: none;
    line-height: 45px;
    text-align: center;
    position: absolute;
    left: 35px
}
#menu label:before {
    font-size: 1.6em;
    content: "\2261";
    margin-left: 20px;
}
#menu ul.sub-menus{
    height: auto;
    overflow: hidden;
    width: 170px;
    background: #070707;
    position: absolute;
    z-index: 99;
    display: none;
}
#menu ul.sub-menus li {
    display: block;
    width: 100%;
}
#menu ul.sub-menus a {
    color: #000000;
    font-size: 14px;
}
#menu li:hover ul.sub-menus {
    display: block
}
#menu ul.sub-menus a:hover{
    background: #1621B8;
    color: #FFFFFF;
}
@media screen and (max-width: 800px){
    #menu {position:relative}
    #menu ul {background:#1621B8;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none}
    #menu ul.sub-menus {width:100%;position:static;}
    #menu ul.sub-menus a {padding-left:30px;}
    #menu li {display:block;float:none;width:auto;}
    #menu input, #menu label {position:absolute;top:0;left:0;display:block}
    #menu input {z-index:4}
    #menu input:checked + label {color:black}
    #menu input:checked + label:before {content:"\00d7";color: black}
    #menu input:checked ~ ul {display:block}
}