*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body{
    background: url("../../img/temp.jpg");
    backdrop-filter: blur(2px);

}

.container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
}

.container:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    filter: blur(50px);
    z-index: -1;
}
.contact-box{
    height: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
    width: 100%;
    background: url("../images/bg.jpg") center;
    background-size: cover;
    height: 100%;
}

.left:hover{
    height: 100%;
    background: url("../images/bg1.jpg") center;
    background-size: cover;

}

.right{
    padding: 25px 40px;
}


h2{
    position: relative;
    padding: 0 0 10px;
    margin-top: 0;
    margin-bottom: 30px;
}

h2:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2e48cc;
}

.box {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color : #fff;
    padding : 15px;
    outline:none;
    width: 90%;
    height: auto;
    margin-bottom: 20px;
}

th{
    color: #0d3579;
    width: 50%;
    outline: none;
    padding: 5px 5px 5px 0px;
    font-size: 18px;
    margin-bottom: 22px;
}

td{
    width: 50%;
    outline: none;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 30px 30px 10px;
    font-size: 18px;
    margin-bottom: 15px;
}

button {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 10px 18px;
    font-size: 16px;
    cursor: pointer;
    transition: all .5s ease-out;
}

button:hover {
    background: #0d3579;
    color: white;
}

.field{
    width: 70%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(255, 248, 248, 0);
    padding: 0.5rem 1rem;
    font-size: 14px;
    margin-bottom: 10px;
    transition: .3s;
}

.field:hover{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

textarea{
    min-height: 150px;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px){
    .contact-box{
        grid-template-columns: 1fr;
    }
    .left{
        height: 200px;
    }
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #359b6a;
    margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}
@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
